<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="Portail des séances de triathlon du club.">
        <meta name="keywords"
              content="triathlon, club, entraînements, natation, vélo, course">
        <title>
            {% block title %}
                TriHub
            {% endblock title %}
        </title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
